::selection {
  background-color: black;
  color: white;
}

body {
  overflow-x: hidden;
  min-height: 90vh;
  background: rgb(137, 108, 169);
  background-image: url(assets/login-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

input {
  background-color: transparent !important;
  border: thin solid rgba(0,0,0,30%) !important;
  line-height: 30px !important;
}

.card {
  margin-top: 100px;
  box-shadow: -20px 20px 40px 10px rgba(0, 0, 0, 0.35);
  background-color: transparent;
  backdrop-filter: blur(80px);
  -webkit-backdrop-filter: blur(80px);
}

.card-header {
    background-color: rgba(0, 0, 0, 0.08);
}

.title {
    font-weight: bold;
    color: rgba(255,255,255,30%);
}